<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://underscorejs.org/underscore.js"></script>
</head>

<body>
    <h3>You are viewing the dashboard for <%= otherUser %></h3>
    <a href="/<%= user.slug %>/friends">Back</a>
    <div class="caloriesEaten"></div
    <div class="lineChart"></div>
    <p>The last 5 foods that you have logged</p>
    <div class="table"></div>

<script src="https://www.google.com/jsapi"></script>
<script src="/javascript/GoogleLine.js"></script>
<script src="/javascript/GoogleTable.js"></script>
<script src="/javascript/dashboardChart.js"></script>
<script>
    var i = <%- JSON.stringify(chartData) %>
    var latestFoods = <%- JSON.stringify(latestFoods) %>

    var fields = ['Date', 'Calories Eaten']
    if (i[0].length > 0) {
        $('.caloriesEaten').text("You have logged a total of " + i[0][1] + " calories today")

        // show the latest day first
        i = i.reverse()
        // magic number 1
        var lineChart = new GoogleLine('.lineChart', i, function(){}, fields)
        var allRows = []
        _.each(latestFoods, function(food, key){
            allRows.push(_.values(food))
        })
        var myTable = new GoogleTable('.table', allRows, {}, chartFields)
    } else {
        $('.caloriesEaten').text("User <%= otherUser %> has not logged any food. Log your food today to track your calories!")
        var fakeChart = new GoogleLine('.lineChart', fakeData, function(){}, fields)
        var fakeTable = new GoogleTable('.table', fakeTable, {}, chartFields)
    }

</script>
</body>