<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="http://underscorejs.org/underscore.js"></script>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
</head>
<body>
<p>Showing food list for <%= user.first + user.last %></p>
<a href='/<%= user.slug %>'>Back</a></br>
<a href='/logout'>Log out</a></br>

<div class="allFoods"></div>
</br>

<form id="foodInfo" class="pure-form">
	<div class="pieChart"></div>
	<input type="hidden" name="chosenFood" id="chosenFood"></input>
	<input type="hidden" id="csrf" name="_csrf" value="<%= csrfToken %>">
	<input type="text" name="Amount" placeholder="New amount"></input>
</form>

<script src="/javascript/GoogleTable.js"></script>
<script src="/javascript/GooglePie.js"></script>
<script src="/javascript/foodConfig.js"></script>
<script>
	var myPieChart = new GooglePie()
	var charts = <%- JSON.stringify(chartData) %>
	var createdAtIndex = _.indexOf(_.keys(foodTableOptions), "createdAt")

	var $allFoods = $('.allFoods')
	var csrf = $('#csrf').val()

	var allTables = {}

	var classNames = []
	var domClassNames = []
	var fullClasses = []

	for (var i = 0; i < charts.length; i++) {
		classNames[i] = 'foodChart' + i
		domClassNames[i] = '.' + classNames[i]
		fullClasses[i] = '<div class ="' + classNames[i] + ' googleTable">'
	}


	// for (var i = 0; i < charts.length; i++) {
	_.each(charts, function(value, i) {
		var classname = 'foodChart' + i
		var fullClass = '<div class ="' + classname + ' googleTable">'
		var domClass = '.' + classname

		$allFoods.append($(fullClass))
		
		var tableHandler = function(e) {
			var idx = thisTable.googleTable.getSelection()
			if (!_.isEmpty(idx)) {
				thisTable.oldRow = idx[0]['row']
			}

			var rows = []
			for (var k = 0; k < map.length; k++) {
				rows[k] = [nutrition[k], parseFloat(thisTable.getValue(thisTable.oldRow, map[k]))]
			}

			var id = thisTable.getValue(thisTable.oldRow, fields.length - 1)
			$('#chosenFood').val(id)

			myPieChart.googlePieDraw(rows)
		};

		var chartTitle = charts[i][0][createdAtIndex]
		var thisTable = new GoogleTable(domClass, charts[i], tableHandler, foodTableOptions, chartTitle)

		// console.log(thisTable)
		allTables[classname] = thisTable
	})
// }

	var userSlug = '<%= user.slug %>'

	$('#foodInfo').on('submit', function(e){
		e.preventDefault()
		$.ajax({
			type: 'PUT',
			url: ('/' + userSlug + '/foods'),
			data: {
				hi: '2',
				_csrf: csrf
			},
			success: function(d) {
				console.log(d)
			}
		})
	})
</script>
</body>