<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" href="/magnificPopup/magnific-popup.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.theme.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://www.google.com/jsapi"></script>
<script src="http://underscorejs.org/underscore.js"></script>
<script src="/magnificPopup/jquery.magnific-popup.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script src="/stylesheets/jquery.timepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.timepicker.css">
</head>
<body>
<p>Showing food list for <%= user.first + user.last %></p>
<a href='/<%= user.slug %>'>Back</a></br>
<a href='/logout'>Log out</a></br>

<textarea rows=5 cols=30 id="tableData"></textarea>
<div class="allFoods"></div>
</br>

<p href="#foodInfo" class="popup-with-form">CLICKY</p>
 <form id="foodInfo" class="pure-form mfp-hide white-popup">
	<h2 id="foodName"></h3>
	<div class="pieChart"></div>
	<label for="spinner">Choose a new amount</label>
	<input id="spinner" name="value">
	<input id="timepicker" type="text">
	<button id="deleteFood">Delete this food</button>
	<input type="hidden" id="csrf" name="_csrf" value="<%= csrfToken %>">
	<input type="submit" value="Save"></input>
 </form>

<script src="/javascript/magnificPopup.js"></script>
<script src="/javascript/GoogleTable.js"></script>
<script src="/javascript/GooglePie.js"></script>
<script src="/javascript/foodConfig.js"></script>
<script>
	var myPieChart = new GooglePie('.pieChart')

	// charts is an array of arrays of arrays. first level array is every item eaten in a single day
	var charts = <%- JSON.stringify(chartData) %>
	var createdAtIndex = _.indexOf(_.keys(foodTableOptions), "createdAt")
	var rowData = {}
	var $allFoods = $('.allFoods')
	var csrf = $('#csrf').val()

	$('#timepicker').timepicker({
		step: 10,
		timeFormat: 'H:i:s'
	})
	$('#spinner').spinner()

	var allTables = []
	var selectedTable

	// for (var i = 0; i < charts.length; i++) {
	_.each(charts, function(value, i) {
		var classname = 'foodChart' + i
		var fullClass = '<div class ="' + classname + ' googleTable">'
		var domClass = '.' + classname

		$allFoods.append($(fullClass))
		
		var tableHandler = function(e) {
			var idx = thisTable.googleTable.getSelection()
			if (!_.isEmpty(idx)) {
				thisTable.selRow = idx[0]['row']
			}

			var rows = []
			for (var k = 0; k < map.length; k++) {
				rows[k] = [nutrition[k], parseFloat(thisTable.getValue(thisTable.selRow, map[k]))]
			}

			rowData = _.object(fields, thisTable.dataDump())
			$('#tableData').val(JSON.stringify(rowData))

			// set the h2 food name in the form
			$('#foodName').text(rowData['foodname'])

			// this is for knowing which table got clicked
			selectedTable = thisTable.myId
			myPieChart.draw(rows)
		};

		var chartTitle = charts[i][0][createdAtIndex]
		var thisTable = new GoogleTable(domClass, charts[i], tableHandler, foodTableOptions, chartTitle, loadMagnificPopup)
		thisTable.myId = i
		allTables[i] = thisTable
	})
// }

	var userSlug = '<%= user.slug %>'

	$('#foodInfo').on('submit', function(e){
		e.preventDefault()
		$.ajax({
			type: 'PUT',
			url: ('/' + userSlug + '/foods'),
			data: {
				foodId: rowData['chosenFoodId'],
				amount: $('#spinner').val(),
				time: $('#timepicker').val(),
				_csrf: csrf
			},
			success: function(d) {
				console.log(d)
				$.magnificPopup.close()
			}
		})
	})

	$('#deleteFood').on('click', function(e){
		$.ajax({
			type: 'DELETE',
			url: ('/' + userSlug + '/foods'),
			data: {
				_csrf: csrf,
				foodId: rowData['chosenFoodId']
			},
			success: function(d) {
				$.magnificPopup.close()
				allTables[selectedTable].removeSelected()
			}
		})
	})

	// load the magnific popup hidden form
	function loadMagnificPopup() {
		$('.google-visualization-table-table tr:not(.google-visualization-table-tr-head)')
			.attr({
			class: 'popup-with-form',
			href: '#foodInfo' 
		})

		$('.popup-with-form').magnificPopup({
				type: 'inline',
				preloader: true, 
				focus: '#name',
				removalDelay: 300,
				gallery: {
					enabled: true
				},
				  mainClass: 'mfp-fade',
				  callbacks: {
				    open: function() {
				      console.log('popup opened!')
				    },
				    close: function() {
				    	console.log('popup closed')
				    }
				}  
		});	
	}
</script>
</body>