<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" href="/magnificPopup/magnific-popup.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.theme.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://www.google.com/jsapi"></script>
<script src="http://underscorejs.org/underscore.js"></script>
<script src="/magnificPopup/jquery.magnific-popup.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="/stylesheets/jquery.timepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.timepicker.css">
<script src="/stylesheets/notify.min.js"></script>

</head>
<body>
<p>Showing food list for <%= user.slug %></p>
<a href='/<%= user.slug %>'>Back</a></br>
<a href='/logout'>Log out</a></br>

<div class="allFoods"></div>
</br>

<div id="tabs" class="mfp-hide white-popup">
  <ul>
    <li><a href="#foodInfo">View food information</a></li>
    <li><a href="#foodEdit">Edit this item</a></li>
  </ul>

	<form id="foodInfo" class="pure-form white-popup">
		<h2 id="foodName"></h3>
		<div class="pieChart"></div>
		<div id="nutritionTable"></div>
		<input type="hidden" id="csrf" name="_csrf" value="<%= csrfToken %>">
	</form>

	<form id="foodEdit" class="pure-form white-popup">
		<h2 class="foodName"></h2>
		<label for="spinner">Choose a new amount</label>
		<input id="spinner" name="value"></br>
		<label for="timepicker">Edit the time</label>
		<input id="timepicker" type="text"></br>
		<label for="datepicker">Edit date</label>
		<input id="datepicker" type="text"></br>
		<label for="deleteFood">Delete this food</label>
		<img src="/images/trashcan.png" id="deleteFood" width="40" height="50"></img></br>
		<button class="pure-button" id="submitFood">Save your options</button>
	</form>
</div>

<div id="confirmDelete" title="Delete confirmation"></div>
<script src="/javascript/magnificPopup.js"></script>
<script src="/javascript/GoogleTable.js"></script>
<script src="/javascript/GooglePie.js"></script>
<script src="/javascript/foodConfig.js"></script>
<script src="/javascript/notify.js"></script>

<script>
	$('#datepicker').datepicker({
		dateformat: "yyyy-mm-dd",
		maxDate: 0,
		minDate: -30
	})
	$('#tabs').tabs()

	var myPieChart = new GooglePie('.pieChart')
	var nutritionTable = new GoogleTable('#nutritionTable', [], function(){}, formTableOptions)

	// charts is an array of arrays of arrays. first level array is every item eaten in a single day
	var charts = <%- JSON.stringify(chartData) %>
	var createdAtIndex = _.indexOf(_.keys(foodTableOptions), "createdAt")
	var $allFoods = $('.allFoods')
	var csrf = $('#csrf').val()
	var rowData = []
	var rowJson = {}

	$('#timepicker').timepicker({
		step: 10,
		timeFormat: 'H:i:s'
	})
	$('#spinner').spinner()

	var allTables = []
	var allTitles = []
	var allSelectors = []
	var selectedTable

	// argh asynch stuff. need to wait for all tables to draw before putting in the titles
	var count = charts.length

	drawAllTables(charts)

	function drawAllTables(allRows) {
		allTables = []
		$('.googleTable').remove()

		_.each(allRows, function(value, i) {
			var classname = 'foodChart' + i
			var fullClass = '<div class ="' + classname + ' googleTable">'
			var domClass = '.' + classname

			allSelectors.push(domClass)
			allTitles.push(allRows[i][0][createdAtIndex])

			$allFoods.append($(fullClass))
			
			var tableHandler = function(e) {
				var idx = thisTable.googleTable.getSelection()
				if (!_.isEmpty(idx)) {
					thisTable.selRow = idx[0]['row']
				}

				// get info from the table
				rowData = thisTable.dataDump()
				rowJson = _.object(fields, rowData)

				// update the pie chart
				var rows = []
				_.each(nutrition, function(value, key){
					rows.push([value, rowJson[key]])
				})

				myPieChart.draw(rows, {
					id3D: true,
					title: "Calories by macros",
					legend: {
						position: 'labeled',
						alignment: 'center'
					}
				})

				// set the h2 food name in the form
				$('#foodName').text(rowJson['foodname'])

				// this is for knowing which table got clicked
				selectedTable = thisTable.myId

				// dump the json into nutrition table and let it display its own fields
				// NOTE: keys of the dictionaries need to match
				drawNutritionTable(rowJson)
			};

			var handlers = {
				select: tableHandler,
				page: loadMagnificPopup,
				sort: loadMagnificPopup
			}
			var thisTable = new GoogleTable(domClass, allRows[i], handlers, foodTableOptions, 
				function() {
					count--
					if (count == 0) {
						drawTitles()
					}
					loadMagnificPopup()
				}
					)
			thisTable.myId = i
			allTables[i] = thisTable
		})
	}

	function drawTitles() {
		_.each(allSelectors, function(selector, index) {
			$(selector).prepend('<h2 class="googleTableTitle">'+ allTitles[index] + '</h2>')
		})
	}

	function drawNutritionTable(rowJson) {
		var row = []
		_.each(formTableOptions, function(value, key){
			row.push(rowJson[key])
		})
		nutritionTable.draw([row], {showRowNumber: false})
	}

	var userSlug = '<%= user.slug %>'
	var amountIndex = _.indexOf(_.keys(foodTableOptions), 'amount')
	var timeCreatedIndex = _.indexOf(_.keys(foodTableOptions), 'timeCreated')

	$('#submitFood').on('click', function(e){
		e.preventDefault()
		$.ajax({
			type: 'PUT',
			url: ('/' + userSlug + '/foods'),
			data: {
				foodId: rowJson['chosenFoodId'],
				amount: $('#spinner').val(),
				time: $('#timepicker').val(),
				date: $('#datepicker').val(),
				_csrf: csrf
			},
			success: function(rtnjson) {
				if (rtnjson.success) {
					$.notify(rtnjson.message, {
						style: 'myStyle'
					})
					allTables[selectedTable].setColSelected(amountIndex, rtnjson['updatedAmount'])
					allTables[selectedTable].setColSelected(timeCreatedIndex, rtnjson['updatedTime'])
					loadMagnificPopup()
					$(allSelectors[selectedTable]).prepend('<h2 class="googleTableTitle">'+ allTitles[selectedTable] + '</h2>')
					$.magnificPopup.close()
				} else {
					$.notify(rtnjson.message, {
						style: 'bootstrap'
					})
				}
			}
		})
	})

	$('#deleteFood').on('click', function(e){
		$.ajax({
			type: 'DELETE',
			url: ('/' + userSlug + '/foods'),
			data: {
				_csrf: csrf,
				foodId: rowJson['chosenFoodId']
			},
			success: function(rtnjson) {
				if (rtnjson.success) {
					$.notify(rtnjson.message, {
						style: 'myStyle'
					})
					$.magnificPopup.close()
					allTables[selectedTable].removeSelected()
					loadMagnificPopup()
					$(allSelectors[selectedTable]).prepend('<h2 class="googleTableTitle">'+ allTitles[selectedTable] + '</h2>')
				} else {
					$.notify(rtnjson.message, {
						style: 'bootstrap'
					})
				}
			}
		})
	})

	// load the magnific popup hidden form
	function loadMagnificPopup() {
		$('.google-visualization-table-table tr:not(.google-visualization-table-tr-head)')
			.attr({
			class: 'popup-with-form',
		})

		$('.popup-with-form').magnificPopup({
			type: 'inline',
			preloader: true, 
			removalDelay: 300,
			mainClass: 'mfp-fade',
			items: [
			{
				src: '#tabs',
				type: 'inline'
			}
			]  
		});	
	}
</script>
</body>