<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foodaily</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://underscorejs.org/underscore.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://underscorejs.org/underscore.js"></script>
<script src="/chosen_v1.2.0/chosen.jquery.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.theme.min.css">
<link rel="stylesheet" type="text/css" href="/chosen_v1.2.0/chosen.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<script src="/stylesheets/notify.min.js"></script>
<script src="/javascript/notify.js"></script>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="light">Foo</span>daily</a>             
            </div>
            <ul class="nav navbar-top-links navbar-right"> 
                <li><a href="../logout"><i class="fa fa-sign-out"></i></a></li>
                    <!-- /.dropdown-user -->
                </li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/<%= user.slug %>/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/<%= user.slug %>/addfood"><i class="fa fa-table fa-fw"></i> Add Food</a>
                        </li>
                        <li>
                            <a href="/<%= user.slug %>/foods"><i class="fa fa-list fa-fw"></i> Food History</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Recipes<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/<%= user.slug %>/recipesearch">Search</a>
                                </li>
                                <li>
                                    <a href="/<%= user.slug %>/favorites">Favorites</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a class="active" href="/<%= user.slug %>/friends"><i class="fa fa-users fa-fw"></i> Friends</a>
                        </li>
                        <li>
                            <a href="/<%= user.slug %>/settings"><i class="fa fa-wrench fa-fw"></i> Settings</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>

            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">

				<div id="tabs">
				  <ul>
				  	<li><a href="#readme">Read me</a></li>
				    <li><a href="#addFriends">Add friends</a></li>
				    <li><a href="#editFriends">Friend settings</a></li>
				    <li><a href="#viewFriends">View other dashboards here</a></li>
				  </ul>
				  <div id="readme">
  					<p>This is an exploratory feature to view the dashboard of other users. To view another user's dashboard, search for their screenname below and send them a request (the text area is a Jquery autocomplete, press delete to view other screennames). When the other user approves of your request, you will be able to view their dashboard at /your-screen-name/friends/friends-screen-name. If more development time were allowed, this feature could be expanded to more interesting stuff.</p>
  				</div>
				  <div id="addFriends">
					<div class="ui-widget">
					  <label for="addFriend">Find other users</label>
					  <input id="addFriend">
					</div>
					<button id="submitAdd">Add Friend</button>
				  </div>
				  <div id="editFriends">

					<p>Pending (incoming) requests</p>
					<table id="accept" class="genCss">
						<% for (var i = 0; i < otherPending.length; i++) { %>
						<tr>
							<td value=<%= otherPending[i] %> type="accept">Accept request from <%= otherPending[i] %></td>
						</tr>
						<% } %>
					</table>


					<p>Your (outgoing) pending requests</p>
					<table id="withdraw" class="genCss">
						<% for (var i = 0; i < selfPending.length; i++) { %>
						<tr>
							<td value=<%= selfPending[i] %> type="withdraw">Withdraw request to <%= selfPending[i] %></td>
						</tr>
						<% } %>
					</table>


					<p>You are allowed to see the dashboard of the following users</p>
					<table id="delete" class="genCss">
						<% for (var i = 0; i < allFriends.length; i++) { %>
						<tr>
							<td value=<%= allFriends[i] %> type="delete">Unfriend <%= allFriends[i] %></td>
						</tr>
					<% } %>
					</table>
				  </div>

				  <div id="viewFriends">
					  <p>View dashboards</p>
						<ul>
						<% for (var i = 0; i < allFriends.length; i++) { %>
							<li>
								<a href='/<%= user.slug %>/friends/<%= allFriends[i] %>'><%= allFriends[i] %></a>
							</li>
						<% } %>
					</div>
				</div>

            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script src="https://www.google.com/jsapi"></script>
    <script src="/javascript/GoogleLine.js"></script>
    <script src="/javascript/GoogleTable.js"></script>
    <script src="/javascript/dashboardChart.js"></script>

  

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/sb-admin-2.js"></script>

    <script>

	var autoCompleteSrc = <%- JSON.stringify(allUsers) %>
	$('#tabs').tabs()
	$('#addFriend').autocomplete({
		source: autoCompleteSrc,
		minLength: 0
	})

	var notification = $('#notification')
	var thisUserSlug = '<%= user.slug %>'
	var csrf = '<%= csrfToken %>'

	$('#submitAdd').on('click', function(event){
		var otherUserSlug = $('#addFriend').val()
		ajax('POST', otherUserSlug, function(rtnjson){
			changeNotification(rtnjson.message)
			if (rtnjson.success) {
				reloadAutocomplete(1, otherUserSlug)
				// add this row to the withdraw requests table
				$('#withdraw').append('<tr><td value=' + otherUserSlug + ' type="withdraw">Withdraw request to ' + otherUserSlug + '</td></tr>')
				$('td').on('click', listener)
			}
		})
	})

	$('td').on('click', listener)
	function listener(e) {
		var otherUserSlug = this.getAttribute("value")
		var type = this.getAttribute("type")

		if (type == 'accept') {
			ajax("PUT", otherUserSlug, function(rtnjson){
				changeNotification(rtnjson.message)
				if (rtnjson.success) {
					removeTableRow(otherUserSlug, false)
				}
			})
		} else if (type == 'withdraw' || type == 'delete') {
			ajax("DELETE", otherUserSlug, function(rtnjson){
				changeNotification(rtnjson.message)
				if (rtnjson.success) {
					removeTableRow(otherUserSlug, true)
				}
			})
		} else {
			console.log("Unknown button type " + type)
		}
	}

	function ajax(type, otherUserSlug, successHandler) {
		$.ajax({
			type: type,
			url: '/' + thisUserSlug + '/friends',
			data: {
				slug: otherUserSlug,
				_csrf: csrf
			},
			success: function(d) {
				successHandler(d)
			}
		})
	}

	function changeNotification(text) {
		$.notify(text, {
			className: 'success'
		})
	}

	// PROBABLY NOT THE BEST WAY TO DO THIS
	function removeTableRow(otherUserSlug, addBack) {
		var selector = $("td[value='" + otherUserSlug + "']")
		if (selector.length > 0) {
			var parent = selector.parents("tr")
			// why is this not working?
			parent.fadeOut(3000)
			parent.remove()
			if (addBack) {
				reloadAutocomplete(0, otherUserSlug)
			}
		} else {
			console.log("invalid button value selector " + otherUserSlug)
		}
	}

	// mode 0 to add something, mode 1 to delete an existing item
	function reloadAutocomplete(mode, text) {
		if (mode == 0) {
			autoCompleteSrc.push(text)
		} else {
			autoCompleteSrc = _.without(autoCompleteSrc, text)
		}
		$('#addFriend').autocomplete("option", "source", autoCompleteSrc)
		$('#addFriend').val("")
	}

</script>

</body>

</html>

