<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foodaily</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/magnificPopup/magnific-popup.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.theme.min.css">
    <link rel="stylesheet" type="text/css" href="/chosen_v1.2.0/chosen.min.css">
    <script src="/chosen_v1.2.0/chosen.jquery.js"></script>
    <script src="/magnificPopup/jquery.magnific-popup.js"></script> 
    <script src="https://www.google.com/jsapi"></script>
    <script src="http://underscorejs.org/underscore.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="/stylesheets/notify.min.js"></script>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Foodaily</a>
            </div>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/<%= user.slug %>/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/<%= user.slug %>/addfood"><i class="fa fa-table fa-fw"></i> Add Food</a>
                        </li>
                        <li>
                            <a href="/<%= user.slug %>/foods"><i class="fa fa-bar-chart-o fa-fw"></i> Food History</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Recipes<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/<%= user.slug %>/recipesearch">Search</a>
                                </li>
                                <li>
                                    <a href="/<%= user.slug %>/favorites">Favorites</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/<%= user.slug %>/settings"><i class="fa fa-wrench fa-fw"></i> Settings<span class="fa arrow"></span></a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Recipe Search</h1>
                    </div>
                    <!-- /.col-lg-12 -->

                    <!-- ============================================= -->
                    <!-- ======= MAIN PAGE CONTENT BEGINS HERE ======= -->
                    <!-- ============================================= -->

					<form id="recipeSearch"> <!-- action="/recipes" method="post" onsubmit="return reqYummlyAPI();">-->
						<input type="hidden" id="_csrf" value="<%= csrfToken %>">
						<input type="hidden" id="chosenId" name="chosenId" value="" method="post">
						<input type="hidden" id="slug" value="<%= user.slug %>">
						<input id="q" name="q" placeholder="Search for a recipe" type="text" value=""/>

                        <p id="constraints"></p>
					</form>

					<div class="yummlyAttribution"></div>
					<div class="recipeTable"></div>
					<br/>
					
                    </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../js/jquery.js"></script> 

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/sb-admin-2.js"></script>
	<script src="/stylesheets/notify.min.js"></script>
	<script src="https://www.google.com/jsapi"></script>
	<script>
			google.load("visualization", "1", {packages:["table"]});
			google.setOnLoadCallback(drawTable);

			function drawTable() {
				table = new google.visualization.Table($('.recipeTable').get(0));
				data = new google.visualization.DataTable();

				var fields = [
					"Image",
					"Name",
					"Source",
					"Ingredients",
					"Preparation (secs)",
					"Rating",
					"Id"
				];

				data.addColumn('string', fields[0]);
				data.addColumn('string', fields[1]);
				data.addColumn('string', fields[2]);
				data.addColumn('string', fields[3]);
				data.addColumn('number', fields[4]);
				data.addColumn('number', fields[5]);
				data.addColumn('string', fields[6]);

				data.addRows(rows);

				google.visualization.events.addListener(table, 'select', selectTableListener);
				var view = new google.visualization.DataView(data)
				view.hideColumns([6])
				table.draw(data, {showRowNumber: false, allowHtml: true});
			}

		function selectTableListener() {
			var idx = table.getSelection();
			var selectedRow = idx[0]['row'];

			var recipeId = data.getValue(selectedRow, 6);
			$("#chosenId").val(recipeId);

			if(confirm("Are you sure you want to add " + recipeId + "to your favourites?")) {
				getAndPostToFavourites(recipeId);
			}
			// $.notify("Save to favorites feature coming soon!", {
			// 	className: "info"
			// })
		}
               


		var APP_ID = "1aeab161";
		var APP_KEY = "30949c53cf846dfc493a20eebfbbd422";
		var rows = [];
		var table;
		var data;

		function queryYummly(foodSearch) {
			var call = "http://api.yummly.com/v1/api/recipes?_";
			// "api.yummly.com/v1/api/recipes?_app_id=1aeab161&_app_key=30949c53cf846dfc493a20eebfbbd422&+onion+soup";

			var params = foodSearch.split(" ");

			call += "app_id=" + APP_ID + "&_app_key=" + APP_KEY + "&q=";

			for (var i = 0; i < params.length; i++) {
				// alert(params[i]);
				call += "+" + params[i];
			};

				var diet = "<%=row.diet%>";
				var dietURLString = "&allowedDiet[]=";
				var lactoString = "388^Lacto vegetarian";
				var pescetarianString = "390^Pescetarian"
				var ovoString = "389^Ovo vegetarian";
				var veganString = "386^Vegan";
				var paleoString = "403^Paleo";

				var dietName = "";
				// diet = 'vegan'
				switch(diet){
					case 'vegan':
						call += dietURLString + veganString;
						dietName = "vegan"
						break;
					case 'lacto_vege':
						call += dietURLString + lactoString ;
						dietName = "lacto-vegetarian"
						break;
					case 'ovo_vege':
						call += dietURLString + ovoString;
						dietName = "ovo-vegetarian"
						break;
					case 'pesc':
						call += dietURLString + pescetarianString;
						dietName = "pescatarian"
						break;
					case 'ovo_pesc':
						call += dietURLString + pescetarianString + dietURLString + ovoString;
						dietName = "ovo-pescatarian"
						break;
					case 'lacto_pesc':
						call += dietURLString + pescetarianString + dietURLString + lactoString;
						dietName = "lacto-pescatarian"
						break;
					case 'paleo':
						call += dietURLString + paleoString;
						dietName = "paleolithic"
						break;
					default:
						break;
				}


				var dairy = "<%=row.dairy%>";
				var eggs =  "<%=row.eggs%>";
				var gluten = "<%=row.gluten%>";
				var peanut = "<%=row.peanut%>";
				var seafood = "<%=row.seafood%>";
				var sesame = "<%=row.sesame%>";
				var soy = "<%=row.soy%>";
				var sulfite = "<%=row.sulfite%>";
				var treeNut = "<%=row.treeNut%>";
				var wheat = "<%=row.wheat%>";


				var allergiesURL = "&allowedAllergy[]=";

				var dairyString = "396^Dairy-Free";
				var eggsString = "397^Egg-Free";
				var glutenString = "393^Gluten-Free";
				var peanutString = "394^Peanut-Free";
				var seafoodString = "398^Seafood-Free";
				var sesameString = "399^Sesame-Free";
				var soyString = "400^Soy-Free";
				var sulfiteString = "401^Sulfite-Free";
				var treeNutString = "395^Tree Nut-Free";
				var wheatString = "392^Wheat-Free";

				// window.alert(wheat);
				var constraints = "Your preferences: ";


				if(dairy == "true"){
					call += allergiesURL + dairyString;
					constraints += "Dairy-free, "
				}
				if(eggs == "true"){
					call += allergiesURL + eggsString;
					constraints += "Eggs-free, "					
				}
				if(gluten == "true"){
					call += allergiesURL + glutenString;
					constraints += "Gluten-free, "
				}
				if(peanut == "true"){
					call += allergiesURL + peanutString;
					constraints += "Peanut-free, "					
				}
				if(seafood == "true"){
					call += allergiesURL + seafoodString;
					constraints += "Seafood-free, "					
				}
				if(sesame == "true"){
					call += allergiesURL + sesameString;
					constraints += "Sesame-free, "					
				}
				if(soy == "true"){
					call += allergiesURL + soyString;
					constraints += "Soy-free, "					
				}
				if(sulfite == "true"){
					call += allergiesURL + sulfiteString;
					constraints += "Sulfate-free, "					
				}
				if(treeNut == "true"){
					call += allergiesURL + treeNutString;
					constraints += "Treenut-free, "					
				}
				if(wheat == "true"){
					call += allergiesURL + wheatString;
					constraints += "Wheat-free, "					
				}


				if(dietName != "") {
					constraints += dietName;
				} 
				else {
				 constraints = constraints.substring(0, constraints.length - 2);
				}
				constraints += " diet."

		$( '#constraints').text(constraints)
			var jqhxr = $.ajax({
				type: "GET",
				url: call,
				success: function(data) {
					// alert("success search");
					updateTableResults(data);
				}, 
				error: function() {
					$.notify("No results were found!", {
						className: "error"
					})
				}
			});
		}

		function getAndPostToFavourites(foodId) {
			var call = "http://api.yummly.com/v1/api/recipe/";
			call += foodId + "?_";
			call += "app_id=" + APP_ID + "&_app_key=" + APP_KEY;

			var jqhxr = $.ajax({
				type: "GET",
				url: call,
				success: function(data) {
					postRecipe(data);
				}, 
				error: function() {
					$.notify("No results were found!", {
						className: "error"
					})
				}
			});
		}

		function postRecipe(data) {

	    	var userSlug = '<%= user.slug %>';
	    	var csr = "<%= csrfToken %>";
	 
	        $.ajax({
	            type: 'POST',
	            url: ('/' + userSlug + '/recipesearch'),
	            data: {
					name: data.name,
					chosenId: $('#chosenId').val(),
					yield: data.yield,
					ingredientsList: data.ingredientLines,
					sourceUrl: data.source.sourceRecipeUrl,
					image: data.images[0].hostedLargeUrl,
	                _csrf: csr
	            }, 
	            success: function(rtnjson) {
	            	if (rtnjson.success) {
	            		$.notify(rtnjson.message, {
	            			className: "success"
	            		})
	            	} else {
	            		$.notify(rtnjson.message, {
	            			className: "error"
	            		})
	            	}
	            }
	        })
	    }

		var addOnce = true
		function updateTableResults(data) {
			rows = [];
			
			if (addOnce) {
				$('.yummlyAttribution').prepend(data.attribution.html);
				addOnce = false
			}

			for(var i = 0; i < data.matches.length; i++) {
				var imageLink = data.matches[i].imageUrlsBySize[90];
				var image = "<img id='img" + i +"' src='" + imageLink + "' />";
				var name = data.matches[i].recipeName;
				var brand = data.matches[i].sourceDisplayName;

				var jsonIngredients = data.matches[i].ingredients;
				var ingredients = jsonIngredients[0];// = data.matches[i].ingredients;
				for(var index = 1; index < jsonIngredients.length; index++) {
					ingredients += ", " + jsonIngredients[index];
				}

				var prepTime = data.matches[i].totalTimeInSeconds;	
				var rating = data.matches[i].rating;
				var id = data.matches[i].id;

				var row = [
					image,
					name,
					brand,
					ingredients,
					prepTime,
					rating,
					id
				];

				rows.push(row);
			}
			
			drawTable(rows);
		}

		// event listener
		$('#recipeSearch').keypress(function(e){
			if(e.keyCode == 13) {
				// disable form submission
				e.preventDefault();
				var query = $('#q').val(); //"Hot-Turkey-Salad-Sandwiches-Allrecipes";
				// alert(query);
				queryYummly(query);
			}
		});
	</script>
</body>