<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foodaily</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="light">Foo</span>daily</a>
            </div>
            <ul class="nav navbar-top-links navbar-right"> 
                <li><a href="../logout"><i class="fa fa-sign-out"></i></a></li>
                    <!-- /.dropdown-user -->
                </li>
            </ul>           
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/<%= user.slug %>/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/<%= user.slug %>/addfood"><i class="fa fa-table fa-fw"></i> Add Food</a>
                        </li>
                        <li>
                            <a href="/<%= user.slug %>/foods"><i class="fa fa-list fa-fw"></i> Food History</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Recipes<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/<%= user.slug %>/recipesearch">Search</a>
                                </li>
                                <li>
                                    <a href="/<%= user.slug %>/favorites">Favorites</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/<%= user.slug %>/friends"><i class="fa fa-users fa-fw"></i> Friends</a>
                        </li>
                        <li>
                            <a class="active" href="/<%= user.slug %>/settings"><i class="fa fa-wrench fa-fw"></i> Settings</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Settings</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

<form id="settings">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <p>Dietary restrictions (for use with Yummly)</p>
    <select id="restrictions">
      <option value="none" <% if (row.diet == 'none') { %> selected="selected" <% } %> >None</option>
      <option value="vegan" <% if (row.diet == 'vegan') { %> selected="selected" <% } %> >Vegan</option> 
      <option value="lacto_vege" <% if (row.diet == 'lacto_vege') { %> selected="selected" <% } %> >Lacto vegetarian</option> 
      <option value="ovo_vege" <% if (row.diet == 'ovo_vege') { %> selected="selected" <% } %> >Ovo vegetarian</option> 
      <option value="pesc" <% if (row.diet == 'pesc') { %> selected="selected" <% } %> >Pescetarian</option> 
      <option value="lacto_pesc" <% if (row.diet == 'lacto_pesc') { %> selected="selected" <% } %> >Pescetarian-lacto</option> 
      <option value="ovo_pesc" <% if (row.diet == 'ovo_pesc') { %> selected="selected" <% } %> >Pescetarian-ovo</option> 
      <option value="paleo" <% if (row.diet == 'paleo') { %> selected="selected" <% } %> >Paleo</option>
    </select></br>
    <br>


<p>Additional restrictions</p>
<input type="checkbox" id="dairy" <% if (row.dairy) { %> checked <% } %> >Dairy-Free<br>
<input type="checkbox" id="egg" <% if (row.eggs) { %> checked <% } %> >Egg-Free<br>
<input type="checkbox" id="gluten" <% if (row.gluten) { %> checked <% } %> >Gluten-Free<br>
<input type="checkbox" id="peanut" <% if (row.peanut) { %> checked <% } %> >Peanut-Free<br>
<input type="checkbox" id="seafood" <% if (row.seafood) { %> checked <% } %> >Seafood-Free<br>
<input type="checkbox" id="sesame" <% if (row.sesame) { %> checked <% } %> >Sesame-Free<br>
<input type="checkbox" id="soy" <% if (row.soy) { %> checked <% } %> >Soy-Free<br>
<input type="checkbox" id="sulfite" <% if (row.sulfite) { %> checked <% } %> >Sulfite-Free<br>
<input type="checkbox" id="treeNut" <% if (row.treeNut) { %> checked <% } %> >Tree Nut-Free<br>
<input type="checkbox" id="wheat" <% if (row.wheat) { %> checked <% } %> >Wheat-Free<br>


    <br>
    <!-- <input type="submit" value="Save"> -->
    <button class="pure-button" id="submit">Save your settings</button>

</form>

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <script src="/stylesheets/notify.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/sb-admin-2.js"></script>
<script>
    var userSlug = '<%= user.slug %>';
    var csr = "<%= csrfToken %>";

    $('#submit').on('click', function(e){
        e.preventDefault()
        $.ajax({
            type: 'POST',
            url: ('/' + userSlug + '/settings'),
            data: {
                diet: $('#restrictions').val(),
                dairy: $('#dairy').is(':checked'),
                eggs: $('#egg').is(':checked'),
                gluten: $('#gluten').is(':checked'),
                peanut: $('#peanut').is(':checked'),
                seafood: $('#seafood').is(':checked'),
                sesame: $('#sesame').is(':checked'),
                soy: $('#soy').is(':checked'),
                sulfite: $('#sulfite').is(':checked'),
                treeNut: $('#treeNut').is(':checked'),
                wheat: $('#wheat').is(':checked'),
                _csrf: csr
            },
            success: function(rtnjson) {
                if (rtnjson.success) {
                    $.notify(rtnjson["message"],{
                        className: "success"
                    })
                } else {
                    $.notify(rtnjson["message"],{
                        className: "error"
                    })
                }
            }
        })
    })
</script>
</body>

</html>