<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foodaily</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="light">Foo</span>daily</a>
            </div>
            
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/<%= user.slug %>/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/<%= user.slug %>/addfood"><i class="fa fa-table fa-fw"></i> Add Food</a>
                        </li>
                        <li>
                            <a href="/<%= user.slug %>/foods"><i class="fa fa-bar-chart-o fa-fw"></i> Food History</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Recipes<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/<%= user.slug %>/recipesearch">Search</a>
                                </li>
                                <li>
                                    <a href="/<%= user.slug %>/favorites">Favorites</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/<%= user.slug %>/settings"><i class="fa fa-wrench fa-fw"></i> Settings<span class="fa arrow"></span></a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Settings</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

<form action="/settings" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <p>Calorie Intake</p><input type="text" name="caloriesIn"></br><br>
    <p>Daily current calories</p><input type="text" name="caloriesOut"></br>






<!-- set_metadata('diet', [{"id":"388","shortDescription":"Lacto vegetarian","longDescription":"Lacto vegetarian","searchValue":"388^Lacto vegetarian","type":"diet","localesAvailableIn":["en-US"]},{"id":"389","shortDescription":"Ovo vegetarian","longDescription":"Ovo vegetarian","searchValue":"389^Ovo vegetarian","type":"diet","localesAvailableIn":["en-US"]},{"id":"390","shortDescription":"Pescetarian","longDescription":"Pescetarian","searchValue":"390^Pescetarian","type":"diet","localesAvailableIn":["en-US"]},{"id":"386","shortDescription":"Vegan","longDescription":"Vegan","searchValue":"386^Vegan","type":"diet","localesAvailableIn":["en-US"]},{"id":"387","shortDescription":"Lacto-ovo vegetarian","longDescription":"Vegetarian","searchValue":"387^Lacto-ovo vegetarian","type":"diet","localesAvailableIn":["en-US"]},{"id":"403","shortDescription":"Paleo","longDescription":"Paleo","searchValue":"403^Paleo","type":"diet","localesAvailableIn":["en-US"]}]); -->




    <br>
    <p>Dietary restrictions (for use with Yummly)</p>
    <select id="restrictions">
      <option value="none">None</option>
      <option value="vegan">Vegan</option> <!-- no dairy, no eggs -->
      <option value="vegetarian">Vegetarian</option>
      <option value="lacto_vegetarian">Lacto vegetarian</option> <!-- yes dairy, no eggs -->
      <option value="ovo_vegetarian">Ovo vegetarian</option> <!-- yes eggs, no dairy -->
      <option value="pescetarian">Pescetarian</option> <!-- yes fish -->
      <option value="pescetarian_lacto">Pescetarian-lacto</option> <!--  yes fish, yes dairy, no eggs -->
      <option value="pescetarian_ovo">Pescetarian-ovo</option> <!-- yes fish, no dairy, no eggs   &allowedDiet[]=390^Pescetarian&allowedDiet[]=388^Lacto vegetarian -->
      <option value="paleo">Paleo</option>
    </select></br>
    <br>





<!-- set_metadata('allergy', [{"id":"396","shortDescription":"Dairy-Free","longDescription":"Dairy-Free","searchValue":"396^Dairy-Free","type":"allergy","localesAvailableIn":["en-US"]},{"id":"397","shortDescription":"Egg-Free","longDescription":"Egg-Free","searchValue":"397^Egg-Free","type":"allergy","localesAvailableIn":["en-US"]},{"id":"393","shortDescription":"Gluten-Free","longDescription":"Gluten-Free","searchValue":"393^Gluten-Free","type":"allergy","localesAvailableIn":["en-US"]},{"id":"394","shortDescription":"Peanut-Free","longDescription":"Peanut-Free","searchValue":"394^Peanut-Free","type":"allergy","localesAvailableIn":["en-US"]},{"id":"398","shortDescription":"Seafood-Free","longDescription":"Seafood-Free","searchValue":"398^Seafood-Free","type":"allergy","localesAvailableIn":["en-US"]},{"id":"399","shortDescription":"Sesame-Free","longDescription":"Sesame-Free","searchValue":"399^Sesame-Free","type":"allergy","localesAvailableIn":["en-US"]},{"id":"400","shortDescription":"Soy-Free","longDescription":"Soy-Free","searchValue":"400^Soy-Free","type":"allergy","localesAvailableIn":["en-US"]},{"id":"401","shortDescription":"Sulfite-Free","longDescription":"Sulfite-Free","searchValue":"401^Sulfite-Free","type":"allergy","localesAvailableIn":["en-US"]},{"id":"395","shortDescription":"Tree Nut-Free","longDescription":"Tree Nut-Free","searchValue":"395^Tree Nut-Free","type":"allergy","localesAvailableIn":["en-US"]},{"id":"392","shortDescription":"Wheat-Free","longDescription":"Wheat-Free","searchValue":"392^Wheat-Free","type":"allergy","localesAvailableIn":["en-US"]}]); -->


<p>Additional restrictions</p>
<input type="checkbox" name="restriction" value="Dairy">Dairy-Free<br>
<input type="checkbox" name="restriction" value="Egg">Egg-Free<br>
<input type="checkbox" name="restriction" value="Gluten">Gluten-Free<br>
<input type="checkbox" name="restriction" value="Peanut">Peanut-Free<br>
<input type="checkbox" name="restriction" value="Seafood">Seafood-Free<br>
<input type="checkbox" name="restriction" value="Sesame">Sesame-Free<br>
<input type="checkbox" name="restriction" value="Soy">Soy-Free<br>
<input type="checkbox" name="restriction" value="Sulfite">Sulfite-Free<br>
<input type="checkbox" name="restriction" value="Tree">Tree Nut-Free<br>
<input type="checkbox" name="restriction" value="Wheat">Wheat-Free<br>



    <br>
    <input type="submit" value="Save">
</form>


            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/sb-admin-2.js"></script>

</body>

</html>