<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" href="/magnificPopup/magnific-popup.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/magnificPopup/jquery.magnific-popup.js"></script> 
<script src="https://www.google.com/jsapi"></script>
</head>
<body>
<p>Successfully logged in</p>
<p>Logged in as user <%= user.first + ' ' + user.last %></p>
<a href='<%= user.slug %>/settings'>Settings</a></br>
<a href='/logout'>Log out</a></br>
<a href='/search'>Search for Recipes</a></br>
<a href='<%= user.slug %>/foods'>See your foods here</a></br>

<!-- link that opens popup -->
<p class="popup-with-form" href="#foodForm">Open form</p>

<!-- form itself -->
<form id="foodForm" class="white-popup mfp-hide pure-form">
	<h1>Form</h1>
		<ol>
			<li>
				<label for="amount">Amount</label>
				<input id="amount" name="amount" type="text" placeholder="Amount eaten" required="">
			</li>
		</ol>
	<input type="hidden" id="chosenFood" name="chosenFood" value="">
	<input type="hidden" id="csrf" name="_csrf" value="<%= csrfToken %>">
	<input type="hidden" id="slug" value="<%= user.slug %>">
	<button form="foodForm" class="pure-button">Save!</button>
	<div class="pieChart"></div>
</form>

<p id="notification" class="notification mfp-hide pure-form">Some text goes here</p>

<p>Search for a common food here!</p>
<form id="foodSearch">
	<span><input type="text" placeholder="Search..."></span>
</form>

<div class="foodChart"></div>
</br>

<!-- custom scripts go down here -->
<script src="/javascript/GoogleTable.js"></script>
<script src="/javascript/GooglePie.js"></script>
<script src="/javascript/config.js"></script>
<script src="/javascript/parser.js"></script>
<script src="/javascript/magnificPopup.js"></script>
<script>
	var myPieChart = new GooglePie()
	// don't draw anything to begin with
	var initRows = []

	var myTable = new GoogleTable('.foodChart', initRows, tableHandler, fields, hidden)
	var $chosenFood= $('#chosenFood')

	function tableHandler(e) {
		var rowIndex = myTable.getSelectedRow()
		var rows = []
		for (var i = 0; i < map.length; i++) {
			rows[i] = [nutrition[i], parseFloat(myTable.getValue(rowIndex, map[i]))]
		}

		var id = myTable.getValue(rowIndex, fields.length - 1)
		$('#chosenFood').val(id)

		myPieChart.googlePieDraw(rows)
	};


	var $foodIn = $('#foodSearch')
	var $foodForm = $('#foodForm')

	// event listener for search box
	$foodIn.keypress(function(e){
		if(e.keyCode == 13) {
			// disable form submission
			e.preventDefault()

			// requests nutritionix, parse json and update google table
			queryDict["query"] = $('#foodSearch input').val();

			$.ajax({
				type: "POST",
				url: "https://api.nutritionix.com/v1_1/search",
				data: queryDict,
				success: function(d) {
					myTable.googleChartsDraw(jsonToArrayArrays(d, fields))

					// stick the magnific popup class to all rows
					$('.google-visualization-table-table tr:not(.google-visualization-table-tr-head) td')
						.attr({
						class: 'popup-with-form',
						href: '#foodForm' 
					})

					$('.popup-with-form').magnificPopup({
						type: 'inline',
						focus: '#name',
					});
				},
			});
		}
	})

	// popup form
	var userSlug = $('#slug').val()
	var csrf = $('#csrf').val()
	var magnificPopup = $.magnificPopup
	var notification = $('#notification')

	$foodForm.on('submit', function(e){
		e.preventDefault()
		$.ajax({
			type: 'POST',
			url: userSlug+'/foods',
			data: {
			  _csrf: csrf,
			  amount: $('#amount').val(),
			  chosenFood: $('#chosenFood').val()
			},
			success: function(d) {
				notification.text("Successfully added food " + d['foodId'])
				notification.removeClass('mfp-hide')
				window.setInterval(function(){
					notification.addClass('mfp-hide')
				}, 5000)

			  magnificPopup.close()
			}
		})
	})

	$('.popup-with-form').on('mfpOpen', function(e /*, params */) {
	  console.log('Popup opened',  $.magnificPopup.instance);
	});
</script>
</body>