<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" href="/magnificPopup/magnific-popup.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.theme.min.css">
<link rel="stylesheet" type="text/css" href="/chosen_v1.2.0/chosen.min.css">
<script src="/chosen_v1.2.0/chosen.jquery.js"></script>
<script src="/chosen_v1.2.0/chosen.proto.js"></script>
<script src="/magnificPopup/jquery.magnific-popup.js"></script> 
<script src="https://www.google.com/jsapi"></script>
<script src="http://underscorejs.org/underscore.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="/stylesheets/jquery.datetimepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css">
</head>
<body>
<input id="datetimepicker" type="text" >

<p>Successfully logged in</p>
<p>Logged in as user <%= user.first + ' ' + user.last %></p>
<a href='/<%= user.slug %>/settings'>Settings</a></br>
<a href='/logout'>Log out</a></br>
<a href='/search'>Search for Recipes</a></br>
<a href='/<%= user.slug %>/foods'>See your foods here</a></br>
<a href='/<%= user.slug %>/progress'>View your daily progress here</a></br>
<a href='/<%= user.slug %>/friends/'>Configure friends here</a></br>

<!-- form itself -->
<form id="foodForm" class="white-popup mfp-hide pure-form">
	<h1 id="foodName"></h1>
	<label for="spinner">Choose an amount</label>
	<input id="spinner" name="value">
	<button form="foodForm" class="pure-button">Save!</button>
	<div class="pieChart"></div>
	<p>Other nutritional info</p>
	<div class="formTable"></div>
	<input type="hidden" id="chosenFood" name="chosenFood" value="">
	<input type="hidden" id="csrf" name="_csrf" value="<%= csrfToken %>">
	<input type="hidden" id="slug" value="<%= user.slug %>">
</form>

 
<p>Search for a common food here!</p>
<form id="foodSearch">
	<span><input type="text" placeholder="Search..."></span>
</form>
<p id="notification" class="ui-widget-content ui-corner-all bomay"></p>

<!-- <p class="bomay">clgt</p> -->

<div class="foodChart"></div>
</br>

<!-- custom scripts go down here -->
<script src="/javascript/GoogleTable.js"></script>
<script src="/javascript/GooglePie.js"></script>
<script src="/javascript/config.js"></script>
<script src="/javascript/magnificPopup.js"></script>
<script src="/javascript/formTableConfig.js"></script>
<script>
	$('#datetimepicker').datetimepicker({
		format: 'Y/m/d H:i', 
		onSelectDate: function(ct, i) {
			console.log(ct)
			console.log(ct.dateFormat('d/m/Y'))
		},
		maxDate: 0
	})

    var spinner = $( "#spinner" ).spinner();
	var myPieChart = new GooglePie('.pieChart')
	// don't draw anything to begin with
	var initRows = []

	var myTable = new GoogleTable('.foodChart', initRows, tableHandler, mainTableOptions)
	var $chosenFood= $('#chosenFood')
	var formTable = '.formTable'
	var myFormTable = new GoogleTable(formTable, initRows, function(){}, formTableOptions)

	function tableHandler(e) {
		var idx = myTable.googleTable.getSelection()
		if (!_.isEmpty(idx)) {
			myTable.selRow = idx[0]['row']
		}

		var rows = []
		for (var i = 0; i < map.length; i++) {
			rows[i] = [_.values(nutrition)[i], parseFloat(myTable.getValue(myTable.selRow, map[i]))]
		}

		var id = myTable.getValue(myTable.selRow, fields.length - 1)
		$('#chosenFood').val(id)
		// data dump returns the array of the selected row
		var rowData = myTable.dataDump()

		// magic number, oh well
		$('#foodName').text(rowData[0])

		myPieChart.draw(rows, {
			id3D: true,
			title: "Calories by macros",
			legend: {
				position: 'labeled',
				alignment: 'center'
			}
		})
		myFormTable.draw([rowData], {showRowNumber: false})
	};

	var $foodIn = $('#foodSearch')
	var $foodForm = $('#foodForm')

	// event listener for search box
	$foodIn.keypress(function(e){
		if(e.keyCode == 13) {
			// disable form submission
			e.preventDefault()

			// requests nutritionix, parse json and update google table
			queryDict["query"] = $('#foodSearch input').val();

			$.ajax({
				type: "POST",
				url: "https://api.nutritionix.com/v1_1/search",
				data: queryDict,
				success: function(d) {
					d = _.pluck(d['hits'], 'fields')
					d = _.map(d, function(val, index){
						return _.values(val)
					})
					myTable.draw(d)

					// stick the magnific popup class to all rows
					$('.google-visualization-table-table tr:not(.google-visualization-table-tr-head) td')
						.attr({
						class: 'popup-with-form',
						href: '#foodForm'
					})

					$('.popup-with-form').magnificPopup({
							type: 'inline',
							preloader: true, 
							focus: '#name',
							removalDelay: 300,
							gallery: {
								enabled: true
							},
							items: [
							// {
							// 	src: '<p>some html</p>',
							// 	type: 'inline'
							// },
							{
								src: '#foodForm',
								type: 'inline'
							}],
							  mainClass: 'mfp-fade',
							  callbacks: {
							    open: function() {
							      console.log('popup opened!')
							    },
							    close: function() {
							    	console.log('popup closed')
							    },
							    change: function() {
							    	console.log('content changed')
							    }
							}  
					});
				},
			});
		}
	})

	// popup form
	var userSlug = $('#slug').val()
	var csrf = $('#csrf').val()
	var magnificPopup = $.magnificPopup
	var notification = $('#notification')

	notification.hide()

	$foodForm.on('submit', function(e){
		e.preventDefault()
		$.ajax({
			type: 'POST',
			url: '/'+userSlug+'/foods',
			data: {
			  _csrf: csrf,
			  amount: spinner.spinner('value'),
			  chosenFood: $('#chosenFood').val()
			},
			success: function(d) {
				notification.text(d)
				notification.show("fold", {}, 1000, function(){
					setTimeout(function() {
		        		notification.fadeOut();
		     		}, 1000 );
				})				

			  magnificPopup.close()
			},
			error: function(xhr, textStatus) {
				notification.text(textStatus)
				notification.show("fold", {}, 1000, function(){
					setTimeout(function() {
		        		notification.fadeOut();
		     		}, 1000 );
				})			

			  magnificPopup.close()
			}
		})
	})

	$('.popup-with-form').on('mfpOpen', function(e /*, params */) {
	  console.log('Popup opened',  $.magnificPopup.instance);
	});
</script>
</body>